.form_div > div{
  width:100%;
}
.form_div{
  width: 400px;
}
.form_div input,.form_div button{
  width: 100%;
}

.inputs{
  margin-bottom: 10px;
}
.form_div button{
  border: none;
  outline: none;
  background-color: #ffab00;
  padding: 10px 0;
}
